<table class="primary">
  <thead>
    <tr>
      <th>BUID</th>
      <th>Name</th>
      <th>Cat</th>
      <th>Degree</th>
     <th><span class="material-symbols-outlined">verified</span></th>
      <th><span class="material-symbols-outlined">Print</span></th>
    <tr>
  </thead>
  <% @attendees.each do |attendee| %>
    <tr>
      <td><%= link_to("#{attendee.last_name}", attendee_path(id: attendee.id, last_name: params.fetch(:last_name, nil))) %></td>
      <td><%= link_to("#{attendee.first_name}", attendee_path(id: attendee.id, last_name: params.fetch(:last_name, nil))) %></td>
      <td>
        <% if attendee.category == "alumni" %>
          <span class="material-symbols-outlined">school</span>
        <% elsif attendee.category == "staff" %>
          <span class="material-symbols-outlined">badge</span>
        <% elsif attendee.category == "faculty" %>
          <span class="material-symbols-outlined">history_edu</span>
        <% elsif attendee.category == "guest" %>
          <span class="material-symbols-outlined">group</span>
        <% end %>
      </td>
      <td>
        <%= attendee.ug_program %>
        <% if attendee.gr_degree != "" %>
          <span class="material-symbols-outlined">school</span> <%= attendee.gr_program %>
        <% end %>
      </td>
      <td>
        <% if attendee.checked_in? %>
          <span class="material-symbols-outlined">done</span>
        <% end %>
      </td>
      <td>
        <% if attendee.printed? %>
          <span class="material-symbols-outlined">done</span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
